<?php
/**
 * @copyright Copyright (c) 2018 www.innovadeltech.com
 */
?>
<?php
$enableModule = $block->_scopeConfig->getValue('socialshare/general/enabled', \Magento\Store\Model\ScopeInterface::SCOPE_STORE);
$enableFacebook = $block->_scopeConfig->getValue('socialshare/facebook/enable_facebook', \Magento\Store\Model\ScopeInterface::SCOPE_STORE);
$enableLike = $block->_scopeConfig->getValue('socialshare/facebook/display_onlylike', \Magento\Store\Model\ScopeInterface::SCOPE_STORE);
?>
<div class="share">
    <?php
    if ($enableModule == 1) {
        if ($enableFacebook == 1) {
            ?>

            <div id="fb-root"></div>
            <script>(function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id))
                        return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.1';
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>

            <?php
            if ($enableLike == 1) {
                ?>
                <div class="fb-like" data-href="http://ec2-user@ec2-34-245-59-51.eu-west-1.compute.amazonaws.com/" data-layout="button_count" data-action="like" data-size="small"></div>
            </div>
            <?php
        }
    }
}
?>